<section class="logo_with_name">
  <div class="circle">
    <img class="center" src="assets/SUST_Logo.png">
  </div>

  <div class="logo-name">
      <h2>
        Food Engineering and Tea Technology
      </h2>
      <h3>
        A File Sharing site
      </h3>
    </div>

    <div class="document">
      <img src="assets/document.png">
    </div>
</section>


<section class="navbar-bottom navbar">

  <nav>

    <div class="semester">
      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
          1/1
          <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu shadow-sm p-3 mb-5 bg-white rounded" role="menu" aria-labelledby="button-basic">
          <li role="menuitem">
            <a class="dropdown-item" href="#">Action</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Another action</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Something else here</a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Separated link</a>
          </li>
        </ul>
      </div>
      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
          1/2
          <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu shadow-sm p-3 mb-5 bg-white rounded" role="menu" aria-labelledby="button-basic">
          <li role="menuitem">
            <a class="dropdown-item" href="#">Action</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Another action</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Something else here</a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Separated link</a>
          </li>
        </ul>
      </div>
      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
          2/1
          <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu shadow-sm p-3 mb-5 bg-white rounded" role="menu" aria-labelledby="button-basic">
          <li role="menuitem">
            <a class="dropdown-item" href="#">Action</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Another action</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Something else here</a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Separated link</a>
          </li>
        </ul>
      </div>
      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
          2/2
          <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu shadow-sm p-3 mb-5 bg-white rounded" role="menu" aria-labelledby="button-basic">
          <li role="menuitem">
            <a class="dropdown-item" href="#">Action</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Another action</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Irrigation and Drainage Technology</a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Separated link</a>
          </li>
        </ul>
      </div>
      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
          3/1
          <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu shadow-sm p-3 mb-5 bg-white rounded" role="menu" aria-labelledby="button-basic">
          <li role="menuitem">
            <a class="dropdown-item" href="#">Action</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Another action</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Irrigation and Drainage Technology</a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Separated link</a>
          </li>
        </ul>
      </div>

      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
          3/2
          <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu shadow-sm p-3 mb-5 bg-white rounded" role="menu" aria-labelledby="button-basic">
          <li role="menuitem">
            <a class="dropdown-item" href="#">Action</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Another action</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Irrigation and Drainage Technology</a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Separated link</a>
          </li>
        </ul>
      </div>

      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
          4/1
          <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu shadow-sm p-3 mb-5 bg-white rounded" role="menu" aria-labelledby="button-basic">
          <li role="menuitem">
            <a class="dropdown-item" href="#">Action</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Another action</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Irrigation and Drainage Technology</a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Separated link</a>
          </li>
        </ul>
      </div>

      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
          4/2
          <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu shadow-sm p-3 mb-5 bg-white rounded" role="menu" aria-labelledby="button-basic">
          <li role="menuitem">
            <a class="dropdown-item" href="#">Action</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Another action</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Irrigation and Drainage Technology</a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Separated link</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="others">
        <button id="button-basic" type="button" class="btn btn-primary" aria-controls="dropdown-basic">
            Upload
          </button>
        <button id="button-basic" type="button" class="btn btn-primary" aria-controls="dropdown-basic">
            Login
          </button>
          <button id="button-basic" type="button" class="btn btn-primary" aria-controls="dropdown-basic">
              Signup
            </button>
            <button id="button-basic" type="button" class="btn btn-primary" aria-controls="dropdown-basic">
                Contact
              </button>
    </div>
  </nav>
</section>