.navbar-bottom {
    display: block;
    position: absolute;
    width: 100%;
    padding: 0%;
    margin: 0%;
    bottom: 0;
    background-color: rgba(109, 43, 196, 0.97);
}

.navbar {
    padding: 0px;
}
.logo_with_name {
    display: block;
    padding-left: 70px;
    padding-top: 15px;
    width: 100%;
    height: auto;
}

.circle {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    height: 95px;
    width: 95px;
    background-color: white;
}

.center {
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle > img {
    height: 85px;
    width: 85px;
}

.logo-name{
    display: inline-block;
    vertical-align: top;
    margin: 0%;
    padding: 0%;
    margin-left: 45px;
}

.document {
    display: none;
    vertical-align: top;
    width: 35%;
}

.document > img {
    height: 95px;
    width: auto;
    float: right;
}

h2,h3 {
    color: white;
}

h3 {
    float: right;
    margin-right: -100px;
}

.semester {
    float: left;
    margin-left: 1%;
}

.others {
    float: right;
    margin-right: 0.5%;
}
.others > img {
    display: none;
}



.dropdown-menu::before {
    position: absolute;
    top: -12px;
    left: 19px;
    display: inline-block;
    border-right: 12px solid transparent;
    border-bottom: 12px solid rgba(109, 43, 196, 0.97);
    border-left: 12px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}
.dropdown-menu::after {
    position: absolute;
    top: -11px;
    left: 20px;
    display: inline-block;
    border-right: 11px solid transparent;
    border-bottom: 11px solid rgba(109, 43, 196, 0.97);
    border-left: 11px solid transparent;
    content: '';
}
.dropdown-menu {
    margin-top: 1px;
    background-color: rgba(109, 43, 196, 0.97) !important;
    color: white !important;
}

.btn-group:hover .dropdown-menu  {
    display: block !important;
} 
.dropdown-item {
    color: white !important;
}
.dropdown-item:hover {
    background-color: #5718AA;
    color: white;
}

.btn-primary {
    border-color: transparent;
    background: transparent;
    font-size: 17px !important;
}

.btn {
    padding: 8px 15px;
}

.btn:focus,.btn:active {
    padding: 9px 15px;
    border-style: none !important;
    outline: none !important;
    box-shadow: none !important;
    background: #5718AA !important;
 }

 .btn:hover {
    background: #5718AA !important;
 }

 .drawer {
     display: none;
 }


/* pc design */

@media only screen and (min-width: 1300px){
    .document {
        display: inline-block;
    }
}


/* Tablet design */

@media only screen and (max-width: 960px) {

    .circle {
        height: 55px;
        width: 55px;
        margin-left: 0px;
        padding-left: 0px;
    }

    .circle > img {
        height: 45px;
        width: 45px;
    }
    
    h3 {
        display: none;
    }

    .others > button {
        display: none;
    }

    .others > img {
        display: inline-block;
        padding-right: 10px;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
}


/* Mobile design */
@media only screen and (max-width: 720px) {
    .logo_with_name, .semester {
        display: none;
    }

    .others > img {
        display: inline-block;
        padding-right: 10px;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .others > button {
        display: none;
    }
}