<section class="logo_with_name" routerLink = "">
  <div class="circle">
    <img class="center" src="assets/SUST_Logo.png">
  </div>

  <div class="logo-name">
    <h2>
      Food Engineering and Tea Technology
    </h2>
    <h3>
      A File Sharing site
    </h3>
  </div>

  <div class="document">
    <img src="assets/document.png">
  </div>
</section>


<section class="navbar-bottom navbar">

  <nav>

    <div class="semester">
      <div class="btn-group" >
        <button id="button-basic" type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
          1/1
          <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" class="dropdown-menu shadow-sm p-3 mb-5 bg-white rounded" role="menu" aria-labelledby="button-basic">
          <li role="menuitem" *ngFor="let helper of data._11">
            <a class="dropdown-item" id = {{helper.c_code}} routerLink = "/course/{{helper.c_code.toLowerCase()}}">{{helper.c_code}} : {{helper.c_name}}</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button id="button-basic" type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
          1/2
          <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" class="dropdown-menu shadow-sm p-3 mb-5 bg-white rounded" role="menu" aria-labelledby="button-basic">
          <li role="menuitem" *ngFor="let helper of data._12">
            <a class="dropdown-item" id = {{helper.c_code}} routerLink = "/course/{{helper.c_code.toLowerCase()}}">{{helper.c_code}} : {{helper.c_name}}</a>
          </li>
        </ul>
      </div>
      <div class="btn-group" >
        <button id="button-basic"  type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
          2/1
          <span class="caret"></span>
        </button>
        <ul id="dropdown-basic"  class="dropdown-menu shadow-sm p-3 mb-5 bg-white rounded" role="menu" aria-labelledby="button-basic">
          <li role="menuitem" *ngFor="let helper of data._21">
            <a class="dropdown-item" id = {{helper.c_code}} routerLink = "/course/{{helper.c_code.toLowerCase()}}">{{helper.c_code}} : {{helper.c_name}}</a>
          </li>
        </ul>
      </div>
      <div class="btn-group" >
        <button id="button-basic"  type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
          2/2
          <span class="caret"></span>
        </button>
        <ul id="dropdown-basic"  class="dropdown-menu shadow-sm p-3 mb-5 bg-white rounded" role="menu" aria-labelledby="button-basic">
          <li role="menuitem" *ngFor="let helper of data._22">
            <a class="dropdown-item" id = {{helper.c_code}} routerLink = "/course/{{helper.c_code.toLowerCase()}}">{{helper.c_code}} : {{helper.c_name}}</a>
          </li>
        </ul>
      </div>
      <div class="btn-group" >
        <button id="button-basic"  type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
          3/1
          <span class="caret"></span>
        </button>
        <ul id="dropdown-basic"  class="dropdown-menu shadow-sm p-3 mb-5 bg-white rounded" role="menu" aria-labelledby="button-basic">
          <li role="menuitem" *ngFor="let helper of data._31">
            <a class="dropdown-item" id = {{helper.c_code}} routerLink = "/course/{{helper.c_code.toLowerCase()}}">{{helper.c_code}} : {{helper.c_name}}</a>
          </li>
        </ul>
      </div>

      <div class="btn-group" >
        <button id="button-basic"  type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
          3/2
          <span class="caret"></span>
        </button>
        <ul id="dropdown-basic"  class="dropdown-menu shadow-sm p-3 mb-5 bg-white rounded" role="menu" aria-labelledby="button-basic">
          <li role="menuitem" *ngFor="let helper of data._32">
            <a class="dropdown-item" id = {{helper.c_code}} routerLink = "/course/{{helper.c_code.toLowerCase()}}">{{helper.c_code}} : {{helper.c_name}}</a>
          </li>
        </ul>
      </div>

      <div class="btn-group" >
        <button id="button-basic"  type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
          4/1
          <span class="caret"></span>
        </button>
        <ul id="dropdown-basic"  class="dropdown-menu shadow-sm p-3 mb-5 bg-white rounded" role="menu" aria-labelledby="button-basic">
          <li role="menuitem" *ngFor="let helper of data._41">
            <a class="dropdown-item" id = {{helper.c_code}} routerLink = "/course/{{helper.c_code.toLowerCase()}}">{{helper.c_code}} : {{helper.c_name}}</a>
          </li>
        </ul>
      </div>

      <div class="btn-group" >
        <button id="button-basic"  type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
          4/2
          <span class="caret"></span>
        </button>
        <ul id="dropdown-basic"  class="dropdown-menu shadow-sm p-3 mb-5 bg-white rounded" role="menu" aria-labelledby="button-basic">
          <li role="menuitem" *ngFor="let helper of data._42">
            <a class="dropdown-item" id = {{helper.c_code}} routerLink = "/course/{{helper.c_code.toLowerCase()}}">{{helper.c_code}} : {{helper.c_name}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="others">
      <button id="button-basic" type="button" class="btn btn-primary" *ngIf="auth.authenticated" routerLink="/upload" aria-controls="dropdown-basic">
        Upload
      </button>
      <button id="button-basic" type="button" class="btn btn-primary" *ngIf="! auth.authenticated" aria-controls="dropdown-basic" routerLink="/login">
        Login
      </button>
      <button id="button-basic" type="button" class="btn btn-primary" *ngIf="! auth.authenticated" aria-controls="dropdown-basic" routerLink="/signup">
        Signup
      </button>
      <button id="button-basic" type="button" class="btn btn-primary" *ngIf="auth.authenticated" aria-controls="dropdown-basic" (click)="auth.signOut()">
        Logout
      </button>
      <button id="button-basic" type="button" class="btn btn-primary" aria-controls="dropdown-basic">
        Contact
      </button>
      <!-- menu icon for mobile -->
      <img src="assets/menu.svg" alt="menu-icon-for-mobile" (click)="showAside()">
    </div>

    <div class="user">

    <!-- search in mobile version -->
    <div class="btn-group" dropdown>
        <img src="assets/search.png" dropdownToggle class="dropdown-toggle" alt="option-icon">
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu shadow-sm p-3 mb-5 bg-white rounded wide" role="menu" aria-labelledby="button-basic">
          <li role="menuitem">
              <input type="text" class="form-control form-rounded" [(ngModel)]="term" (keydown)="search($event)">
              <button class="search-button" routerLink="/search/{{term}}">search</button>
          </li>
        </ul>
      </div>

      <div class="btn-group" dropdown>
          <img src="{{auth.photoUrl}}" dropdownToggle class="dropdown-toggle" alt="option-icon">
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu shadow-sm p-3 mb-5 bg-white rounded" role="menu" aria-labelledby="button-basic">
            <li role="menuitem" *ngIf="! auth.authenticated">
              <a class="dropdown-item" routerLink="/login">Log in</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item"routerLink="/signup"  *ngIf="! auth.authenticated">Sign up</a>
            </li>
            <li role="menuitem" *ngIf="auth.authenticated">
              <a class="dropdown-item" routerLink="/upload">Upload File</a>
            </li>
            <li role="menuitem" *ngIf="auth.authenticated">
              <a class="dropdown-item" [routerLink]="['/edit-profile']" routerLinkActive="router-link-active" >Edit Profile</a>
            </li>
            <li role="menuitem" *ngIf="auth.authenticated">
                <a class="dropdown-item" (click)="auth.signOut()">Logout</a>
              </li>
          </ul>
        </div>
  </div>

  </nav>
</section>
