<header>
  <!-- header component will be here -->
  <div class="test">
      <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
            4/2
            <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu shadow-sm p-3 mb-5 bg-white rounded" role="menu" aria-labelledby="button-basic">
            <li role="menuitem">
              <a class="dropdown-item" href="#">Action</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" href="#">Another action</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem">
              <a class="dropdown-item" href="#">Separated link</a>
            </li>
          </ul>
        </div>
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
            4/2
            <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu shadow-sm p-3 mb-5 bg-white rounded" role="menu" aria-labelledby="button-basic">
            <li role="menuitem">
              <a class="dropdown-item" href="#">Action</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" href="#">Another action</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem">
              <a class="dropdown-item" href="#">Separated link</a>
            </li>
          </ul>
        </div>
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
            4/2
            <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu shadow-sm p-3 mb-5 bg-white rounded" role="menu" aria-labelledby="button-basic">
            <li role="menuitem">
              <a class="dropdown-item" href="#">Action</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" href="#">Another action</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem">
              <a class="dropdown-item" href="#">Separated link</a>
            </li>
          </ul>
        </div>
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
            4/2
            <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu shadow-sm p-3 mb-5 bg-white rounded" role="menu" aria-labelledby="button-basic">
            <li role="menuitem">
              <a class="dropdown-item" href="#">Action</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" href="#">Another action</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem">
              <a class="dropdown-item" href="#">Separated link</a>
            </li>
          </ul>
        </div>
  </div>
</header>

<main>

  <aside class="left_aside">
    <!-- left nav bar will be here -->
  </aside>

  <main>
    main posts component will be heremain posts component will be heremain posts component will be heremain posts component will be heremain posts component will be heremain posts component will be heremain posts component will be here
  </main>

  <aside class="right_aside">
    <!-- right nav bar component will be here -->
  </aside>

</main>

<footer>
  <!-- footere component will be here -->
</footer>

<!-- <div class="dropdown">
  <button class="btn button-basic dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div> -->