<header>
  <!-- header component will be here -->
  <app-header></app-header>
</header>

<main>

  <aside class="left_aside">
    <!-- left nav bar will be here -->
    <app-left-aside></app-left-aside>
  </aside>

  <main>
    <router-outlet></router-outlet>
  </main>

  <aside class="right_aside">
    <!-- right nav bar component will be here -->
    <app-right-aside></app-right-aside>
  </aside>

</main>

<footer>
  <!-- footere component will be here -->
  <app-footer></app-footer>
</footer>

<!-- <div class="dropdown">
  <button class="btn button-basic dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div> -->