header {
  display: block;
  position: relative;
  width: 100%;
  height: 315px;
  min-height: 315px;

  background: #301c54;
  background: -moz-linear-gradient(left, #301c54 0%, #5718aa 100%);
  background: -webkit-linear-gradient(left, #301c54 0%, #5718aa 100%);
  background: linear-gradient(to right, #301c54 0%, #5718aa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#301c54', endColorstr='#5718aa', GradientType=1);
  /* -webkit-box-shadow: 0 3px 3px 3px #472288;
box-shadow: 0 3px 3px 3px #472288; */
}

.test {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

main {
  display: block;
  width: 100%;
  height: 700px;
  margin-top: 20px;
  background: transparent;
}

main>.left_aside {
  float: left;
  width: 20%;
  height: 100%;
  margin: 0 25px 0 25px;
  background-color: aqua;
}

main > main {
  float: left;
  margin-top: 0%;
  width: calc(60% - 100px);
  background-color: royalblue;
}

main>.right_aside {
  float: right;
  width: 20%;
  height: 100%;
  margin: 0 25px 0 25px;
  background-color: aqua;
}

footer {
  display: block;
  width: 100%;
  height: 250px;
  margin-top: 25px;
  background: green;
}

.dropdown-menu::before {
  position: absolute;
  top: -12px;
  left: 29px;
  display: inline-block;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #ccc;
  border-left: 12px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu::after {
  position: absolute;
  top: -11px;
  left: 30px;
  display: inline-block;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #ffffff;
  border-left: 11px solid transparent;
  content: '';
}

.dropdown-menu {
  margin-top: 10px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.btn-primary {
  border-radius: 3px;
}